.authForm {
  max-width: 450px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px 50px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .formTitle {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    margin: 0 0 36px 0;
  }

  .formItem {
    margin: 20px 0;
  }

  .formActions {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
}
